################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/campusBookingDatabase/campusBookingDatabase.jfm
/campusBookingDatabase/campusBookingDatabase.dbmdl
